<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div>
    <form action="/movies/{{moviesFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/movies/{{moviesFromDb._id}}?_method=PUT" method="POST">

    <input type="submit" value="Edit Movie" />

    <label for="nameOfMovie">Movie Title</label>
    <input type="text" name="nameOfMovie" value="{{moviesFromDb.nameOfMovie}}" required/>

    <label for="numberInFranchise">Number in Franchise</label>
    <input type="number" name="numberInFranchise" value="{{moviesFromDb.numberInFranchise}}" required/>

    <label for="releaseDate">Release Date</label>
    <input type="date"  name="releaseDate" value="{{moviesFromDb.releaseDate}}" required/>

    </form>
</div>