<div>
    <form action="/movies/{{moviesFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/movies/{{moviesFromDb._id}}?_method=PUT" method="POST">

    <input type="submit" value="Edit Movie" />

    <label for="nameOfMovie">Movie Title</label>
    <input type="text" name="nameOfMovie" value="{{moviesFromDb.nameOfMovie}}"/>

    <label for="numberInFranchise">Number in Franchise</label>
    <input type="number" name="numberInFranchise" value="{{moviesFromDb.numberInFranchise}}"/>

    <label for="releaseDate">Release Date</label>
    <input type="checkbox"  name="releaseDate" value="{{moviesFromDb.releaseDate}}"/>

    </form>
</div>