<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<h1>All Movie Franchises</h1>

<a href="/tvShows/add/">New Movie Franchise</a>

<ul>
    {{!-- this will create an li for EACH item --}}
    {{#each allTvShows}}
    <li>
        {{!-- print out name of production company you are looking for  --}}
        <a href="/tvShows/{{_id}}">{{franchiseName}}</a>
        <ul>
            <li>Number of Movies in Franchise: {{numberOfMovies}}</li>
            <li>Box Office: ${{totalBudget}}.00</li>
            <li>Budget: ${{totalRevenue}}.00</li>
        </ul>
    </li>
    {{/each}}
</ul>