<h1>All Movie Franchises</h1>

<a href="/:productionId/series/add/">New Movie Franchise</a>

<ul>
    {{!-- this will create an li for EACH item --}}
    {{#each productionCoFromDb}}
    <li>
        {{!-- print out name of production company you are looking for  --}}
        <a href="/:productionId/series/{{_id}}">{{franchiseName}}</a>
        <ul>
            <li>Number of Movies in Franchise: {{numberOfMovies}}</li>
            <li>Box Office: ${{totalBudget}}.00</li>
            <li>Budget: ${{totalRevenue}}.00</li>
        </ul> 
    </li>
    {{/each}}
</ul>