<div>
    <form action="/{{productionCoFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/{{productionCoFromDb._id}}?_method=PUT" method="POST">
    
    <input type="submit" value="Edit Issue" />

    <label for="franchiseName">Franchise Name</label>
    <input type="text" name="franchiseName" value="{{seriesFromDb.franchiseName}}"/>

    <label for="numberInFranchise">Number In Franchise</label>
    <input type="number"  name="numberInFranchise" value="{{seriesFromDb.numberInFranchise}}"/>

    <label for="totalRevenue">Total Revenue</label>
    <input type="number"  name="totalRevenue" value="{{seriesFromDb.totalRevenue}}"/>

    <label for="totalBudget">Total Budget</label>
    <input type="number"  name="totalBudget" value="{{seriesFromDb.totalBudget}}"/>

    </form>
</div>