<div>
    <form action="/series{{seriesFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/series/{{seriesFromDb._id}}?_method=PUT" method="POST">
    
    <input type="submit" value="Edit Franchise" />

    <label for="franchiseName">Franchise Name</label>
    <input type="text" name="franchiseName" value="{{seriesFromDb.franchiseName}}"/>

    <label for="numberOfMovies">Number of Movies in Franchise</label>
    <input type="number"  name="numberOfMovies" value="{{seriesFromDb.numberOfMovies}}"/>

    <label for="totalRevenue">Total Revenue</label>
    <input type="number"  name="totalRevenue" value="{{seriesFromDb.totalRevenue}}"/>

    <label for="totalBudget">Total Budget</label>
    <input type="number"  name="totalBudget" value="{{seriesFromDb.totalBudget}}"/>

    </form>
</div>