<div>
    <form action="/:productionId/series/{{seriesFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/:productionId/series/{{seriesFromDb._id}}?_method=PUT" method="POST">
    
    <input type="submit" value="Edit Franchise" />

    <label for="franchiseName">Franchise Name</label>
    <input type="text" name="franchiseName" value="{{seriesFromDb.franchiseName}}" required/>

    <label for="numberOfMovies">Number of Movies in Franchise</label>
    <input type="number"  name="numberOfMovies" value="{{seriesFromDb.numberOfMovies}}" required/>

    <label for="totalRevenue">Total Revenue</label>
    <input type="number"  name="totalRevenue" value="{{seriesFromDb.totalRevenue}}" required/>

    <label for="totalBudget">Total Budget</label>
    <input type="number"  name="totalBudget" value="{{seriesFromDb.totalBudget}}" required/>

    {{!-- <input type="hidden" value="{{seriesId._id}}"> <input> --}}

    {{!-- <input type="hidden" value="{{productionId._id}}"> <input> --}}

    </form>
</div>
<a href="/:productionCoId/series/:seriesId/movies/add">Add a Franchise</a>