<div>
    <form action="/{{productionCoFromDb._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Issue"/>
    </form>
    <form action="/{{productionCoFromDb._id}}?_method=PUT" method="POST">
    
    <input type="submit" value="Edit Issue" />

    <label for="name">Production Company Name</label>
    <input type="text" name="name" value="{{productionCoFromDb.name}}"/>

    <label for="revenue">Revenue</label>
    <input type="number" name="revenue" value="{{productionCoFromDb.revenue}}"/>

    <label for="amusementPark">Amusement Park</label>
    <input type="checkbox"  name="amusementPark" value="{{productionCoFromDb.amusementPark}}"/>

    </form>
</div>