<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div class="formContainer">
    <h1 class="nameOfBook formH1">Edit Book Information</h1>
<div>
    
    <form action="/books/{{booksFromDb._id}}?_method=PUT" method="POST">

        <label for="name">Book Title</label>
        <input type="text" name="name" value="{{booksFromDb.name}}" required/>

        <label for="author">Author</label>
        <input type="text" name="author" value="{{booksFromDb.author}}" required/>

        <label for="review">Review</label>
        <textarea rows="4" cols="50" name="review" type="text" maxlength="30" >{{booksFromDb.review}}</textarea>

        <input type="submit" class="formButton" value="Edit" required/>
    </form>

    <form action="/books/{{booksFromDb._id}}?_method=DELETE" method="POST">
        <input type="submit" class="formButton" value="Delete" />
    </form>
</div>
</div>